
h1{

    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image: url("country.jpeg");
    background-color: rgb(38, 128, 15);
    background-blend-mode: saturation;
}
div{

    width: 32%;
    height: 500px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    float: left;
    line-height: 30px;

}
img{
    width: 100%;
    height: 300px;
}
div p{
    text-align: center;
    
}
span{
    font-weight: bold;
}