.row{
    width: 600px;
    height: 350px;
    border: 1px solid black;
    background-color: blue;
    position: relative;
    left: 30%;
}
.col{
    width: 100px;
    height: 300px;
    border: 1px solid white;
}
.col-1{
    position:absolute;
    background-color: gray;
}
.col-2{
    position:absolute;
    background-color: greenyellow;
    left: 105px;
}
.col-3{
    position:absolute;
    background-color: indigo;
    left:210px;
}
.col-4{
    position: absolute;
    background-color: red;
    left: 315px;
}
.col-5{
    position: absolute;
    background-color: saddlebrown;
    left: 420px;
}
.row-2{
    margin-top: 5px;
}